.links-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0px;
}

.link-card{
    background-color: antiquewhite;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: fit-content;
}

.body-link{
    margin-bottom: 20px;
}

.body-link-buttons{
    display: flex;
    flex-direction: row;
    max-width: 200px;
    justify-content: space-between;
}

.longlink-url{
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding-bottom: 8px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f3d9d9; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3c473f;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5c5a5a;
  }